<template>
  <div class="product-card">
    <nuxt-link
      :to="{
        name: 'p-product',
        params: { product: `${this.product.name}-${this.product.id}` }
      }"
    >
        <div class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto w-full block h-full">
          <div class="product-card__image max-h-42 w-full object-cover">
            <picture>
              <source
                media="(max-width: 1152px)"
                :srcset="`
              ${product.images}?width=144 1x,
              ${product.images}?width=216 1.5x,
              ${product.images}?width=288 2x,
              ${product.images}?width=432 3x,
              ${product.images}?width=576 4x
            `"
              >
              <img :src="product.images" :alt="product.name" class="object-none h-96 w-96">
            </picture>
          </div>
          <div class="bg-white dark:bg-gray-800 w-full p-4">
            <div class="product-card__title text-gray-400 dark:text-gray-300 font-light text-md">
              {{ product.name }}
            </div>
            <div class="product-card__price text-gray-800 dark:text-white text-xl font-medium mb-2">
              {{ product.price }} ₽
            </div>
          </div>
        </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
  name: 'ProductsListCard',
  props: {
    product: {
      type: Object,
      required: true
    },
  }
}
</script>
