<template>
  <div>
    <div v-show="loading" class="preloader preloader--relative" />
    <div class="products-list w-full bg-white p-12 pt-8 pl-4 grid grid-cols-3 gap-20">
      <product-list-card
        v-for="product in products"
        :key="product.id"
        :product="product"
      />
    </div>
  </div>
</template>

<script>
import ProductListCard from './ProductListCard'

export default {
  name: 'ProductsList',
  components: {ProductListCard},
  props: {
    products: {
      type: Array,
      required: true
    },
    loading: {
      type: Boolean,
      required: true
    }
  }
}
</script>
