<template>
  <div>
    <div class="bg-neutral-400 pt-8 pb-8">
    <table class="cart-list mx-auto">
      <thead class="text-2xl font-sans ">
        <tr class="cart-list-header text-center text-regal-white bg-gradient-to-r from-pink-600 to-fuchsia-600">
          <th class="p-4">Название товара</th>
          <th class="p-4">Цена</th>
          <th class="p-4">Количество</th>
          <th class="p-4">Сумма</th>
        </tr>
      </thead>
      <tbody>
          <tr
            v-for="cartProduct in cartProducts"
            :key="cartProduct.key"
            class="cart-list-item"
            >
            <td class="text-regal-white">
              <nuxt-link
                :to="{
                 name: 'p-product',
                 params: { product: `${cartProduct.product.name}-${cartProduct.product.id}` }
                }"
                >
                {{ cartProduct.product.name }}
              </nuxt-link>
            </td>
            <td class="text-regal-white">{{ cartProduct.product.price | formatPrice }} ₽</td>
            <td>
              <div class="cart-list-item__qty-block text-regal-white">
                <img
                  src="~/assets/icons/minus.svg"
                  alt="Уменьшить"
                  class="cart-list-item__action"
                  @click="changeQty(cartProduct.key, -1)"
                >
                <span class="cart-list-item__qty-count">{{ cartProduct.qty }}</span>
                <img
                  src="~/assets/icons/plus.svg"
                  alt="Увеличить"
                  class="cart-list-item__action"
                  @click="changeQty(cartProduct.key, 1)"
                >
              </div>
            </td>
            <td>
              <div class="text-regal-white">
                {{ cartProduct.product.price * cartProduct.qty | formatPrice }} ₽
              </div>
              </td>
            <td>
              <img
                src="~/assets/icons/trash.svg"
                alt="delete"
                class="cart-list-item__action"
                @click="remove(cartProduct.key)"
              >
            </td>
          </tr>
      </tbody>
      <tfoot>
      <tr class="cart-list-footer">
        <td />
        <td class="text-regal-white text-2xl">Сумма заказа</td>
        <td />
        <td class="text-regal-white text-2xl">{{ cartPrice | formatPrice }} ₽</td>
      </tr>
      </tfoot>
    </table>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CartProductsList',
  computed: {
    ...mapGetters({
      cartProducts: 'cart/productsList',
      cartPrice: 'cart/totalPrice'
    })
  },
  methods: {
    changeQty (productKey, step) {
      this.$store.commit('cart/changeProductQty', { productKey, step })
    },
    remove (productKey) {
      this.$store.commit('cart/removeProduct', { productKey })
    }
  }
}
</script>
