<template>
  <section id="footer">
    <footer class="bg-white dark:bg-gray-800 pt-4 pb-8 xl:pt-8 bg-slate-200">
      <div class="max-w-screen-lg xl:max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 text-gray-400 dark:text-gray-300">
        <ul class="text-lg font-light pb-8 flex flex-wrap justify-center">
          <li class="w-1/2 md:w-1/3 lg:w-1/3">
            <div class="text-center">
              <h2 class="text-gray-500 dark:text-gray-200 text-md uppercase mb-4">
                Наши контакты
              </h2>
              <ul>
                <li class="mb-4 hover:text-gray-800 dark:hover:text-white transition-colors duration-200">
                <span>
                  +7 (909) 223-33-00 Роман
                </span>
                </li>
                <li class="mb-4 hover:text-gray-800 dark:hover:text-white transition-colors duration-200">
                <span>
                  Г. Липецк ул. Минина 68
                </span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="pt-2 flex border-t border-gray-200 max-w-xs mx-auto items-center justify-center">
          <a class="text-xl hover:text-gray-800 dark:hover:text-white transition-colors duration-200 pr-4"
             href="https://vk.com/idea_lofta" target="_blank">
            <img class="text-xl hover:text-gray-800 dark:hover:text-white transition-colors duration-200" width="36"
                 height="36" src="/vk.png" alt="">
          </a>
          <a class="text-xl hover:text-gray-800 dark:hover:text-white transition-colors duration-200 pr-2" href="https://t.me/Bereza_ne_derevo"
             target="_blank">
            <img class="text-xl hover:text-gray-800 dark:hover:text-white transition-colors duration-200" width="36"
                 height="36" src="/telegram.png" alt="">
          </a>
        </div>
      </div>
    </footer>
  </section>
</template>

<script>
export default ({

})
</script>

<style>
</style>
