<template>
  <nav class="bg-white dark:bg-gray-800  bg-gradient-to-r from-white to-slate-100">
    <div class="max-w-7xl mx-auto px-8">
      <div class="flex items-center justify-between h-16">
        <div class="w-full justify-between flex items-center">
          <a class="flex-shrink-0" href="/">
            <img class="h-8 w-8" src="/icons/favicon.ico" alt="Workflow"/>
          </a>
          <div class="hidden md:block">
            <div class="ml-12 flex items-baseline space-x-4">
              <nuxt-link
                :to="{ name: 'products' }"
                class="text-gray-800 dark:text-white  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >
                <span>Товары</span>
              </nuxt-link>
              <a
                class="text-gray-500  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                href="/#about">
                О нас
              </a>
              <a
                class="text-gray-500  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                href="/#footer">
                Контакты
              </a>
              <a
                class="text-gray-500  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                href="/#footer">
                +7 (909) 223-33-00
              </a>
              <nuxt-link
                :to="{ name: 'cart'}"
                class="navbar__cart text-gray-500  hover:text-gray-800 dark:hover:text-white rounded-md text-sm font-medium"
              >
                <img class="object-center" src="~/assets/icons/cart.svg" alt="cart">
                <span
                  v-if="qty > 0"
                  class="navbar__cart-count"
                >
                  {{ qty }}
                </span>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default ({
  computed: {
    ...mapGetters({
      qty: 'cart/productsQty'
    })
  }
})
</script>

<style>
</style>
