<template>
  <div class="product-gallery">
    <div class="product-gallery_preview">
      <picture>
        <source
          media="(max-width: 414px)"
          :srcset="`
            ${activeImage}?width=222 1x,
            ${activeImage}?width=333 1.5x,
            ${activeImage}?width=444 2x,
            ${activeImage}?width=666 3x,
            ${activeImage}?width=888 4x
          `"
        >
        <img :src="activeImage" :alt="product.name">
      </picture>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductGallery',
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      selectedImage: ''
    }
  },
  computed: {
    activeImage () {
      if (this.selectedImage) {
        return this.selectedImage
      } else if (this.product.images) {
        return this.product.images
      } else {
        return ''
      }
    }
  },
  methods: {
    showImage (img) {
      this.selectedImage = img
    }
  }
}
</script>
