<template>
  <div>
    <Navbar/>
    <div class="container mx-auto text-center">
      <div v-show="status === statuses.creating" class="preloader preloader--fullpage"/>
      <div
        class="cart"
        :class="{ 'loading': status === statuses.creating }"
      >
        <div v-show="status === statuses.success" class="cart-message">
          <div class="cart-message__icon">
            <img src="~/assets/icons/check.svg" alt="success">
          </div>
          <div class="cart-message__title">
            Ваш заказ был размещен. Мы свяжемся с вами в ближайшее время.
          </div>
        </div>
        <div v-show="status === statuses.fail" class="cart-message">
          <div class="cart-message__icon">
            <img src="~/assets/icons/x-circle.svg" alt="fail">
          </div>
          <div class="cart-message__title">
            Что-то пошло не так. Попробуйте оформить заказ еще раз или свяжитесь с нами по электронной почте.
          </div>
        </div>
        <div v-show="status !== statuses.success">
          <cart-products-list/>
          <div class="cart-checkout mx-auto">
            <div class="p-8 bg-neutral-100 rounded-lg shadow-lg lg:p-12 lg:col-span-3">
              <form class="space-y-4" @submit.prevent="onSubmit">
                <div class="field" :class="{ 'field--invalid': isFullNameInvalid }">
                  <label class="sr-only" for="Ваше имя">Ваше имя</label>
                  <input v-model="fullName" type="text" class="w-full p-3 text-sm border-gray-200 rounded-lg"
                         placeholder="Ваше имя" id="name"/>
                </div>

                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                  <div class="field" :class="{ 'field--invalid': isEmailInvalid }">
                    <label class="sr-only" for="email">Адрес e-mail</label>
                    <input
                      class="w-full p-3 text-sm border-gray-200 rounded-lg"
                      placeholder="Адрес e-mail"
                      type="email"
                      id="email"
                    />
                  </div>

                  <div class="field" :class="{ 'field--invalid': isPhoneInvalid }">
                    <label class="sr-only" for="phone">Номер телефона</label>
                    <input
                      class="w-full p-3 text-sm border-gray-200 rounded-lg"
                      placeholder="Номер телефона"
                      type="tel"
                      id="phone"
                    />
                  </div>
                </div>

                <div class="field ">
                  <button class="relative inline-block group focus:outline-none focus:ring" type="submit">
                    <span class="absolute inset-0 transition-transform translate-x-1.5 translate-y-1.5 bg-yellow-200 group-hover:translate-y-0 group-hover:translate-x-0"></span>
                    <span class="relative inline-block px-8 py-3 text-sm font-bold tracking-widest text-black uppercase border-2 border-current group-active:text-opacity-75">
                      Сделать заказ
                    </span>
                    1
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>
<script>
import CartProductsList from '~/components/cart/CartProductList'

const cartStatus = {
  init: 0,
  creating: 1,
  success: 2,
  fail: 3
}

export default {
  components: {CartProductsList},
  data () {
    return {
      fullName: '',
      email: '',
      phone: '',
      isFullNameInvalid: false,
      isEmailInvalid: false,
      isPhoneInvalid: false,
      status: cartStatus.init,
      statuses: cartStatus
    }
  },
  methods: {
    isValid () {
      let valid = true
      if (this.fullName.length < 1) {
        this.isFullNameInvalid = true
        valid = false
      } else {
        this.isFullNameInvalid = false
      }
      if (!this.email.includes('@')) {
        this.isEmailInvalid = true
        valid = false
      } else {
        this.isEmailInvalid = false
      }
      if (this.phone.length < 1) {
        this.isPhoneInvalid = true
        valid = false
      } else {
        this.isPhoneInvalid = false
      }
      return valid
    },
    async onSubmit () {
      if (this.isValid()) {
        this.status = cartStatus.creating
        const success = await this.$store.dispatch('cart/submit', { fullName: this.fullName, email: this.email, phone: this.phone })
        console.log(success)
        this.status = success ? cartStatus.success : cartStatus.fail
      }
    }
  },
  head: {
    title: 'Корзина'
  }
}
</script>
