<template>
  <div>
    <Nuxt/>
    <Navbar/>
    <section id="home">
      <div class="static bg-local bg-cover bg-center opacity-80"
           style="background-image: url('/img/page_background.jpeg')">
        <div class="pb-6 pt-52 text-center">
          <span class="text-3xl font-sans text-center text-regal-white bg-gradient-to-r from-pink-600 to-fuchsia-600">Работаем по всей России</span>
        </div>
        <blockquote class="text-center pb-8">
          <span
            class="text-4xl font-semi-bold text-center text-regal-white bg-gradient-to-r from-fuchsia-600 to-pink-600">МЕБЕЛЬ НА ЗАКАЗ В СТИЛЕ LOFT</span>
        </blockquote>
        <blockquote class="text-2xl font-mono text-center text-slate-900 text-white uppercase">
          <span
            class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-600 relative inline-block">
            <span class="relative text-white">LOFT</span>
          </span>
          <span class="no-underline hover:underline hover:text-fuchsia-500 dark:hover:text-white">для квартиры</span>
          <span class="no-underline hover:underline hover:text-pink-500 dark:hover:text-white">дома</span>
          <span class="no-underline hover:underline hover:text-fuchsia-500 dark:hover:text-white">офиса</span>
          <span class="no-underline hover:underline hover:text-pink-500 dark:hover:text-white">ресторана</span>
        </blockquote>
        <blockquote class="text-center py-40">
          <a href="https://vk.me/idea_lofta" target="_blank">
            <button type="button"
                    class="py-2 px-4  bg-sky-500 hover:bg-sky-700 focus:ring-sky-500 focus:ring-offset-sky-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full pb-30">
              Написать нам в VK
            </button>
          </a>
        </blockquote>
      </div>
    </section>

    <section id="action">
      <div class="p-2 pt-8 pl-4 bg-slate-50">
        <div class="title">
          <p class="text-4xl font-bold text-pink-600 mb-4">
            Акция
          </p>
          <p class="text-2xl font-light text-gray-500">
            При покупке любой позиции дарим подарок!
          </p>
        </div>
        <div class="pl-2 lg:p-12">
          <img alt="Акция" src="/discounts/photo_stock.jpeg" class="rounded-lg w-1/2"/>
        </div>
      </div>
    </section>

    <section id="catalog">
      <div class="w-full bg-white p-12 pt-8 pl-4">
        <div class=" header flex items-end justify-between mb-12">
          <div class="title">
            <p class=" text-4xl font-bold text-gray-800 mb-4">
              Каталог
            </p>
            <p class="text-2xl font-light text-gray-400">
              Для получение полного списка каталога свяжитесь с нами в VK или telegram
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12">
          <div class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto w-full block h-full">
            <img alt="blog photo" src="/img/catalog/1.png" class="max-h-42 w-full object-cover"/>
            <div class="bg-white dark:bg-gray-800 w-full p-4">
              <p class="text-gray-800 dark:text-white text-xl font-medium mb-2">
                от 21500 руб.
              </p>
              <p class="text-gray-400 dark:text-gray-300 font-light text-md">
                Стол офисный LOFT-1
              </p>
            </div>
          </div>
          <div class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto w-full block h-full">
            <img alt="blog photo" src="/img/catalog/2.png" class="max-h-42 w-full object-cover"/>
            <div class="bg-white dark:bg-gray-800 w-full p-4">
              <p class="text-gray-800 dark:text-white text-xl font-medium mb-2">
                от 18500 руб.
              </p>
              <p class="text-gray-400 dark:text-gray-300 font-light text-md">
                Стол офисный LOFT-2
              </p>
            </div>
          </div>
          <div class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto w-full block h-full">
            <img alt="blog photo" src="/img/catalog/6.png" class="max-h-42 w-full object-cover"/>
            <div class="bg-white dark:bg-gray-800 w-full p-4">
              <p class="text-gray-800 dark:text-white text-xl font-medium mb-2">
                от 37900 руб.
              </p>
              <p class="text-gray-400 dark:text-gray-300 font-light text-md">
                Стол офисный LOFT-6
              </p>
            </div>
          </div>
          <div class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto w-full block h-full">
            <img alt="blog photo" src="/img/catalog/20.png" class="max-h-42 w-full object-cover"/>
            <div class="bg-white dark:bg-gray-800 w-full p-4">
              <p class="text-indigo-500 text-md font-medium">
              </p>
              <p class="text-gray-800 dark:text-white text-xl font-medium mb-2">
                от 59800 руб.
              </p>
              <p class="text-gray-400 dark:text-gray-300 font-light text-md">
                Салон красоты LOFT-20
              </p>
            </div>
          </div>
          <div class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto w-full block h-full">
            <img alt="blog photo" src="/img/catalog/13.png" class="max-h-42 w-full object-cover"/>
            <div class="bg-white dark:bg-gray-800 w-full p-4">
              <p class="text-indigo-500 text-md font-medium">
              </p>
              <p class="text-gray-800 dark:text-white text-xl font-medium mb-2">
                от 20900 руб.
              </p>
              <p class="text-gray-400 dark:text-gray-300 font-light text-md">
                Прихожая LOFT-13
              </p>
            </div>
          </div>
          <div class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto w-full block h-full">
            <img alt="blog photo" src="/img/catalog/16.png" class="max-h-42 w-full object-cover"/>
            <div class="bg-white dark:bg-gray-800 w-full p-4">
              <p class="text-gray-800 dark:text-white text-xl font-medium mb-2">
                от 5000 руб.
              </p>
              <p class="text-gray-400 dark:text-gray-300 font-light text-md">
                Салон красоты LOFT-16
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="bg-white dark:bg-gray-800 overflow-hidden relative lg:flex lg:items-center">
        <div class="w-full py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
          <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
            <span
              class="block text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-pink-600 to-fuchsia-600">
                Мы IDEALOFTA
            </span>
          </h2>
          <p class="text-md mt-4 text-gray-500">
            Производим по моделям из каталога и делаем эскизы по желанию заказчика. После подписания договора отправляем
            проект заказа на наше производство.
            Внутри страны отправляем заказы ПЭК. Стоимость доставки по России рассчитывается по расценкам ТК.
            Заказы выполняем по 50% предоплате.
          </p>
          <div class="lg:mt-0 lg:flex-shrink-0">
            <div class="mt-12 inline-flex rounded-md shadow">
            </div>
          </div>
        </div>
        <div class="flex items-center gap-8 p-8 lg:p-24">
          <img src="/img/about/about3.jpg" class="rounded-lg w-1/2" alt="Tree"/>
          <div>
            <img src="/img/about/about2.jpg" class="rounded-lg mb-8" alt="Tree"/>
            <img src="/img/about/about1.jpg" class="rounded-lg" alt="Tree"/>
          </div>
        </div>
      </div>
    </section>

    <Footer/>

    <transition name="fade">
      <div class="fixed right-0 bottom-0" v-show="scY > 300" @click="toTop">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
             stroke="#4a5568"
             stroke-width="1" stroke-linecap="square" stroke-linejoin="arcs">
          <path d="M18 15l-6-6-6 6"/>
        </svg>
      </div>
    </transition>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar"
import Footer from "@/components/Footer"

export default ({
  data() {
    return {
      scTimer: 0,
      scY: 0,
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll: function () {
      if (this.scTimer) return;
      this.scTimer = setTimeout(() => {
        this.scY = window.scrollY;
        clearTimeout(this.scTimer);
        this.scTimer = 0;
      }, 100);
    },
    toTop: function () {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    },
  },
  head() {
    return {
      title: 'IdeaLoft'
    }
  },
  components: {
    Navbar,
    Footer
  }
})
</script>
