<template>
  <div>
    <Navbar />

    <common-products-list :load-products="loadProducts" />

  </div>
</template>

<script>
import CommonProductsList from '~/components/products-list/CommonProductsList'
import Product from '~/api/product'
export default {
  components: { CommonProductsList },
  methods: {
    async loadProducts () {
      return await Product.list()
    }
  }
}
</script>
