<template>
  <div>
    <Navbar/>
    <div v-show="loading" class="preloader preloader-fullpage "/>
    <div class="product flex flex-col justify-center antialiased min-h-screen bg-zinc-100 " :class="{ 'loading': loading }">
      <div class="max-w-6xl mx-auto p-4 sm:px-6 h-full">
        <div class="max-w-sm mx-auto md:max-w-none grid md:grid-cols-2 gap-6 md:gap-8 lg:gap-12 xl:gap-16 items-center">
            <product-gallery :product="product"
                             class=" inset-0  object-cover transform hover:scale-105 transition duration-700 ease-out"/>
            <div class="product-info ">
              <div
                class="product-info-name text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-pink-600 to-fuchsia-600">
                <h1>{{ product.name }}</h1>
              </div>
              <div class="product-info-description text-lg text-gray-600 flex-grow pt-6">
                <p>{{ product.description }}</p>
              </div>
              <div class="product-info__price text-4xl pt-6 font-bold">
                {{ product.price }} ₽
              </div>
              <div class="product-info__buttons pt-6">
                <button
                  class="relative inline-block text-sm font-medium text-pink-600 group active:text-pink-500 focus:outline-none focus:ring"
                  @click="addToCart">
                  <span
                    class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-pink-600 group-hover:translate-y-0 group-hover:translate-x-0"
                    ></span>
                  <span class="relative block px-8 py-3 bg-white border border-current">
              Добавить в корзину
            </span>
                </button>
              </div>
            </div>

        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Product from '~/api/product'
import ProductGallery from '~/components/product-details/ProductGallery'

export default {
  components: { ProductGallery },
  data () {
    return {
      product: {},
      loading: false,
    }
  },
  computed: {
    productId () {
      return this.$route.params.product.split('-').slice(-1).pop()
    }
  },
  created () {
    this.loadProduct()
  },
  methods: {
    async loadProduct () {
      this.loading = true
      this.product = await Product.get(this.productId)
      this.loading = false
    },
    addToCart () {
        this.$store.commit('cart/addProduct', {
          product: this.product,
          price: this.product.price
        })
    }
  },
  head () {
    return {
      title: `${this.product.title} | Store`
    }
  }
}
</script>
